<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="index.html">
                    <i class="bi-back"></i>
                    <span>Vocabulary</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Tài nguyên</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="/app/" class="site-footer-link">Trang chủ</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Hoạt động</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Hỏi đáp</a>
                    </li>

                    <li class="site-footer-link-item" >
                        <a href="/app/user/feedback" class="site-footer-link">Phản hồi</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Thông tin</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 305-240-9671" class="site-footer-link">
                        305-240-9671
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:vocabulary@company.com" class="site-footer-link">
                        vocabulary@company.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">

                <p class="copyright-text mt-lg-5 mt-4">Mang lại trải nghiệm giáo dục tốt hơn cho mọi người.
                
            </div>

        </div>
    </div>
</footer>